<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lawnroad.account.mapper.AdminReportMapper">



    <select id="selectUnpenalizedReports" resultType="com.lawnroad.account.dto.BroadcastReportDTO">
        SELECT
            br.no,
            br.user_no AS userNo,
            br.broadcast_no AS broadcastNo,
            br.reason_code AS reason,
            br.detail_reason AS detailReason,
            br.created_at AS createdAt
        FROM broadcast_report br
        WHERE br.status = 0

        ORDER BY br.created_at DESC
    </select>



    <update id="deductLawyerPoint">
        UPDATE lawyer
        SET point = point - 30
        WHERE no = (
            SELECT b.user_no
            FROM broadcast b
            JOIN broadcast_report br ON b.no = br.broadcast_no
            WHERE b.no = #{broadcastNo}
          AND br.status = 0
            LIMIT 1
            )
    </update>

    <update id="markReportAsPenalized">
        UPDATE broadcast_report
        SET status = 1
        WHERE broadcast_no = #{broadcastNo}
          AND status = 0
    </update>



    <select id="selectPenalizedChatReports" resultType="com.lawnroad.account.dto.ChatReportDto">
        SELECT
            cr.no,
            cr.reported_user_no AS reportedUserNo,
            cr.user_no          AS userNo,
            cr.nickname          AS nickname,
            cr.message,
            cr.report_status    AS reportStatus,
            cr.created_at       AS createdAt
        FROM chat_report cr
        where cr.report_status = 0


    </select>


    <update id="updateClientPenalty">
        UPDATE client
        SET
            stop_date = #{stopDate},
            is_stopped = 1
        WHERE no = #{userNo}
    </update>



    <update id="updateReportStatus" parameterType="long">
        UPDATE chat_report
        SET report_status = 1
        WHERE no = #{reportNo}
          AND report_status = 0
    </update>







</mapper>
