<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawnroad.broadcast.chat.mapper.AutoReplyMapper">

    <insert id="insertAutoReply" parameterType="com.lawnroad.broadcast.chat.dto.AutoReplyDTO">
        INSERT INTO auto_reply (
            schedule_no, keyword, message,created_at
        )
        VALUES (
                   #{scheduleNo}, #{keyword}, #{message}, NOW()
               )

    </insert>


    <select id="findByAutoReply" parameterType="long" resultType="com.lawnroad.broadcast.chat.dto.AutoReplyDTO">
        SELECT no, schedule_no, keyword, message, created_at
        FROM auto_reply
        WHERE schedule_no = #{scheduleNo}
    </select>



    <delete id="deleteAutoReply" parameterType="long">
        DELETE FROM auto_reply WHERE no = #{no}
    </delete>


    <select id="findReplyMessage" resultType="string">
        SELECT ar.message
        FROM auto_reply ar
                 JOIN broadcast b ON ar.schedule_no = b.schedule_no
        WHERE b.no = #{broadcastNo}
          AND ar.keyword = #{keyword}
        LIMIT 1
    </select>














</mapper>