<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lawnroad.broadcast.live.mapper.CategoryMapper">

    <select id="findAll" resultType="com.lawnroad.broadcast.live.model.CategoryVo">
        SELECT no, name, created_at
        FROM category
        ORDER BY no ASC
    </select>

</mapper>