<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lawnroad.account.mapper.ClientMapper">
    <select id="countByClientId" resultType="int">
        SELECT COUNT(*)
        FROM client
        WHERE client_id = #{clientId}
    </select>


    <select id="countByClientNickName" resultType="int">
        SELECT COUNT(*) FROM client WHERE nickname = #{nickname}
    </select>


    <insert id="insertClient">
        INSERT INTO client (
            no, client_id, pw_hash, email, name, nickname, phone, content, alert_content
        ) VALUES (
                     #{no}, #{clientId}, #{pwHash}, #{email}, #{name}, #{nickname}, #{phone}, #{content}, #{alert_content}
                 )
    </insert>



<!--    <select id="findByEmail" resultType="com.lawnroad.account.entity.ClientEntity">-->
<!--        SELECT * FROM client WHERE email = #{email}-->
<!--    </select>-->

    <select id="findByClientId" resultType="ClientEntity">
        SELECT * FROM client WHERE client_id = #{clientId}
    </select>


    <select id="countByEmail" resultType="int">
        SELECT COUNT(*) FROM client WHERE email = #{email}
    </select>







</mapper>
