<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lawnroad.payment.mapper.PaymentMapper">

    <insert id="insertPayment" parameterType="com.lawnroad.payment.dto.PaymentSaveDTO">
        INSERT INTO payments (
            order_no, payment_key, order_code, amount, status,
            card_company, installment_month, purchased_at, pg, metadata
        )
        VALUES (
                   #{orderNo}, #{paymentKey}, #{orderCode}, #{amount}, #{status},
                   #{cardCompany}, #{installmentMonth}, #{purchasedAt}, #{pg}, #{metadata, jdbcType=VARCHAR}
               )
    </insert>
    <select id="findPaymentNoByPaymentKey" resultType="long">
        SELECT no
        FROM payments
        WHERE payment_key = #{paymentKey}
    </select>
    <insert id="insertRefund" parameterType="com.lawnroad.payment.dto.RefundSaveDTO">
        INSERT INTO refunds (
            payment_no, refund_key, amount, status, reason,
            refunded_at, metadata
        ) VALUES (
                     #{paymentNo}, #{refundKey}, #{amount}, #{status}, #{reason},
                     #{refundedAt}, #{metadata, jdbcType=VARCHAR}
                 )
    </insert>
    <select id="findOrderNoByPaymentKey"
            parameterType="string"
            resultType="long">
        SELECT order_no
        FROM payments
        WHERE payment_key = #{paymentKey}
    </select>
    <select id="findPaymentKeyByOrderNo"
            parameterType="long"
            resultType="string">
        SELECT payment_key
        FROM payments
        WHERE order_no = #{orderNo}
    </select>
    <update id="updatePaymentStatus">
        UPDATE payments
        SET status = #{status}
        WHERE order_no = #{orderNo}
    </update>


</mapper>
