<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawnroad.broadcast.chat.mapper.PreQuestionMapper">

    <resultMap id="PreQuestionResultMap" type="com.lawnroad.broadcast.chat.dto.PreQuestionDTO">
        <id property="scheduleNo" column="schedule_no"/>
        <result property="scheduleNo" column="schedule_no"/>
        <result property="name" column="name"/>
        <result property="scheduleContent" column="schedule_content"/>
        <result property="thumbnailPath" column="thumbnail_path"/>
        <result property="profile" column="profile"/>
        <result property="date" column="date"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="lawyerName" column="lawyer_name"/>

        <collection property="keywords" ofType="string">
            <result column="keyword"/>
        </collection>

        <collection property="preQuestions" ofType="com.lawnroad.broadcast.chat.dto.PreQuestionItem">
            <id property="no" column="no"/>
            <result property="scheduleNo" column="schedule_no"/>
            <result property="nickname" column="nickname"/>
            <result property="preQuestionContent" column="pre_question_content"/>
            <result property="userNo" column="user_no"/>
        </collection>
    </resultMap>

    <resultMap id="PreQuestionLawyerResultMap" type="com.lawnroad.broadcast.chat.dto.LawyerPreQuestion">
        <result property="no" column="no"/>
        <result property="nickname" column="nickname"/>
        <result property="content" column="content"/>
    </resultMap>


    <resultMap id="BroadcastScheduleInfoResultMap" type="com.lawnroad.broadcast.live.dto.BroadcastDto">
        <id property="no" column="no"/>
        <result property="name" column="name"/>
        <result property="content" column="content"/>
        <result property="thumbnailPath" column="thumbnail_path"/>
        <result property="date" column="date"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
    </resultMap>



    <insert id="insertPreQuestion" parameterType="com.lawnroad.broadcast.chat.dto.PreQuestionItem">
        INSERT INTO pre_question (
            schedule_no, nickname, content, created_at, user_no
        )
        VALUES (
                   #{scheduleNo}, #{nickname}, #{preQuestionContent}, NOW(), #{userNo}
               )
    </insert>

    <select id="findByPreQuestion" resultMap="PreQuestionResultMap">
        SELECT
        bs.no AS schedule_no,
        pq.no,
        bs.name,
        bs.content AS schedule_content,
        pq.content AS pre_question_content,
        bs.thumbnail_path,
        bs.date,
        bs.start_time,
        bs.end_time,
        l.name AS lawyer_name,
        l.profile,
        pq.nickname,
        pq.user_no,
        k.keyword
        FROM broadcast_schedule bs
        JOIN `user` u ON bs.user_no = u.no
        JOIN lawyer l ON l.no = u.no
        LEFT JOIN pre_question pq ON pq.schedule_no = bs.no
        LEFT JOIN keyword k ON k.schedule_no = bs.no
        WHERE bs.no = #{scheduleNo}
    </select>

    <select id="findByPreQuestionLawyer" resultMap="PreQuestionLawyerResultMap">
        SELECT no, nickname, content
        FROM pre_question
        WHERE schedule_no = #{scheduleNo}
    </select>

    <delete id="deleteLawyerPreQuestion" parameterType="list">
        DELETE FROM pre_question
        WHERE no NOT IN
        <foreach collection="list" item="no" open="(" separator="," close=")">
            #{no}
        </foreach>
    </delete>

    <delete id="deletePreQuestionByUser">
        DELETE FROM pre_question
        WHERE schedule_no = #{scheduleNo}
          AND no = #{questionNo}
          AND user_no = #{userNo}
    </delete>

    <select id="findByBroadcastPreQuestion" resultMap="PreQuestionLawyerResultMap">
        SELECT
            pq.no,
            pq.nickname,
            pq.content
        FROM broadcast b
                 JOIN pre_question pq ON b.schedule_no = pq.schedule_no
        WHERE b.no = #{broadcastNo}
    </select>



</mapper>
