<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lawnroad.broadcast.live.mapper.VodMapper">

    <insert id="insertVod" parameterType="com.lawnroad.broadcast.live.model.BroadcastVodVo">
        INSERT INTO broadcast_vod (broadcast_no, vod_path, duration, status)
        VALUES (#{broadcastNo}, #{vodPath}, #{duration}, #{status})
    </insert>

</mapper>